$paletteColor1: #46566f;
$paletteColor2: #FFF;
$paletteColor3: #f3fbfe;
$paletteColor4: #60c9ff;
$paletteColor5: #1fbbff;
$paletteColor6: #0d87c6 ;
$paletteColor7: #8cd02c;
$paletteColor8: #d02929;
$paletteColor9: #9ca8b6;
