@import "../../theme/palette";

.balance {
  position: relative;
  margin-bottom: 60px;

  &__container {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 10vh;
    text-align: center;
  }

  &__value {
    font-size: 68px;
    line-height: 1;
    padding-top: 15px;
    padding-bottom: 30px;
    margin: 0;
    color: $paletteColor2;
    font-weight: 100;
    position: relative;

    &::after {
      content: '';
      width: 15%;
      height: 4px;
      border-radius: 2px;
      background-color: $paletteColor2;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
    color: $paletteColor2;
  }
}
